@model IEnumerable<DiegoLopez.ServiceReference1.ObjConsuta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMunicipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMunicipio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
